<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderingService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderingService"
                contract="ukhowcfservice.IOrderingService" name="WSHttpBinding_IOrderingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>